<h1>Auction Items</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Current price</th>
      <th scope="col">Bids count</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, auction_item_path(item.id) %></td>
        <td><%= display_item_price(item) %></td>
        <td><%= 0 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
